@import './Variables.scss';
@import './Mixins.scss';
nav {
  height: 6rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  .nav-center {
    @include section-center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  h4 {
    color: $clr-gray-3;
  }
  span {
    color: $clr-another;
  }

  img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
}
