@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans:wght@400;700&display=swap');
$clr-primary: #aa96fc;
$clr-primary-1: #ece8fe;
$clr-primary-2: #d9d0fe;
$clr-primary-3: #d0c5fd;
$clr-primary-4: #c7b9fd;
$clr-primary-5: #b4a2fc;
$clr-primary-6: #a18afb;
$clr-primary-7: #8e73fb;
$clr-primary-8: #8567fa;
$clr-primary-9: #7c5dfa;
$clr-mainWhite: #fff;
$clr-mainBlack: #000;
$clr-bg: #282d4d;
$clr-bg-2: #1e2139;
$clr-another: #ec5757;
$clr-gray-1: #bab8c2;
$clr-gray-2: #b4b2bc;
$clr-gray-3: #d3d2d8;
$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 5px;
$max-width: 1170px;
$phone-break: 768px;
// FONTS

$primary-font: 'Open sans', sans-serif;
$secondary-font: 'SMochiy Pop P One', cursive;
